.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    border-radius: 30px;
    background-color: brown;
    color: antiquewhite;
}
.num{
    font-size: 3em;
}